/* styling for page overall */
body {
    max-width: 30rem;
    margin: auto;
}

#word {
    font-size: 2rem;
    letter-spacing: 2rem;
    font-weight: bold;
}

#guesses {
    text-align: center;
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
}

#wrongGuessArea {
   color:steelblue;
}