/* styling for page overall */
body {
    max-width: 55rem;
    margin: auto;
    background-color: aliceblue;

}

#word {
    font-size: 2rem;
    letter-spacing: 2rem;
    font-weight: bold;
    text-align: center;
    width: fit-content;
}

#guesses {
    text-align: center;
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border: 10px solid;
    border-color: cadetblue;
    border-radius: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#wrongGuessArea {
   color:steelblue;
   justify-content: center;
   margin: 2vmin;
}

#controls {
    font-size: 2rem;
}

.guess {
    font-size: 2rem;
    border: 3px solid;
    border-color:darkolivegreen;
    margin: 4px;
    align-content: space-around;
    justify-content: center;
    cursor: pointer;
    padding: .5rem 1.2rem;
    display: flex;
    width: 1%;
    border-radius: 30%;
}

#currentGuess {
    font-size: 2rem;
}

#winLose {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: chocolate;
}

img {
    width: 100%;
    max-width: 300px;
}

@media only screen and (max-width:600px) and (max-height:700px){
    #word {
        font-size-adjust: 1rem;
    }

    #guesses {
        font-size: 2rem;
    }

    #intro {
        font-size: 1.2rem;
        justify-content: center;
        position: absolute;
        display:initial;
    }
    
}